body{
	margin: 2%;
}

header{
	background-color: rgba(1, 1, 1, 1);
	background-image: url("../images/flywheel.jpg");
	padding: 2%;
	background-size: cover;
}

h1{
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}