h1{
	background: #02254d;
	font-size: 250%;
	color: #ffd3b7;
}

header{
	background: #6293ca;
	text-align: center;
}

nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", Serif;
}

h2{
	background: #193205;
	color: #c5ff96;
}

details{
	font-style: italic;
}

summary{
	font-style: normal;
}

footer{
	background: #02254d;
	color: #ffd3b7;
}