/*Clase para ocultar elemento*/
.closed{
	display: none;
}

/*Clase para mostrar elemento*/
.open{
	display: block;
}

/*Formato de los botones*/
button{
	width: 150px;
	background-color: #af34f9;
	margin-left: 15px;
	font-size: 120%; 
}

/*Formato del parrafo*/
#demo{
	color: #ffffff;
	background-color: #2e0f40;
	padding: 10px;
	font-size: 120%; 
}